<!--
  Autor: Jesus Diego Rivero
  Fecha:20/12/2023
  Modulo: Desarrollo web entorno cliente
  Unidad Didactica: 03
  Interfaz de acceso al juego
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Usuario</title>
    <link rel="stylesheet" href="./css/style_usuario.css">
    <script src="../controller/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <header >
        <h1 >MAKERGAME</h1>
    </header>
    <div id="introduccion_datos">
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario">
      <label for="contrasena">Contraseña</label>
      <input type="text" id="contrasena">
      <button id="boton_enviar"> Enviar</button>
    </div>
</body>
<script type="text/javascript" src="../controller/js/script_usuario.js"></script>
</html>